<div class="filesContainer">
  <app-bread-crumbs></app-bread-crumbs>
  <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Type</th>
          <th scope="col">File Name</th>
          <th scope="col">File Size</th>
          <th scope="col">Last modified</th>
          <th scope="col">Storage Provider</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of filesArray">
          <ng-template *ngIf="file.type === 'Folder';then thenBlock; else elseBlock"></ng-template>
          <ng-template #thenBlock>
            <td>
              <a (click)="navigateToFolder((file.name), (file.folderNavigationParameter))"
                routerLink="/files/{{file.folderNavigationParameter}}" routerLinkActive="active">{{file.type}}</a>
            </td>
          </ng-template>
          <ng-template #elseBlock>
            <td>{{file.type}}</td>
          </ng-template>
          <td>{{file.name}}</td>
          <td>{{file.size}}</td>
          <td>{{file.last_modified}}</td>
          <td>{{file.storageProvider}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>