<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">File Name</th>
        <th scope="col">File Size</th>
        <th scope="col">Last modified</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of filesArray">
        <ng-template *ngIf="file.type === 'folder';then thenBlock; else elseBlock"></ng-template>
        <ng-template #thenBlock>
          <td>
            <a (click)= "clearFilesArray()" routerLink="/files/{{file.folderNavigationParameter}}" routerLinkActive="active">{{file.type}}</a>
          </td>
        </ng-template>
        <ng-template #elseBlock>
          <td>{{file.type}}</td>
        </ng-template>
        <td>{{file.name}}</td>
        <td>{{file.size}}</td>
        <td>{{file.last_modified}}</td>
      </tr>
    </tbody>
  </table>