<table>
    <thead>
        <tr>
            <th>Platform</th>
            <th>Total capacity</th>
            <th>Storage used</th>
            <th>Percentage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Google Drive</td>
            <td>15 GB</td>
            <th>9.6 GB</th>
            <th>64 %</th>
        </tr>
        <tr>
            <td>OneDrive</td>
            <td>1 TB</td>
            <th>151 GB</th>
            <th>15 %</th>
        </tr>
        <tr>
            <td>Dropbox</td>
            <td>4.24 GB</td>
            <th>100 MB</th>
            <th>2 %</th>
        </tr>
    </tbody>
</table>